# For now, we are hardcoding the hostname and IP, so that we can test. Eventually when DHCP works, this will all get moved to use istax base.cfg + customizations
hostname tnettsnsw0

# Enable DHCP for management interface
interface vlan 1
 # ip address dhcp fallback 192.0.2.1 255.255.255.0 timeout 20
 ip address 192.0.2.1 255.255.255.0

# Disable spanning tree protocol since we are defining the paths ourselves
interface *
 no spanning-tree
spanning-tree aggregation
 no spanning-tree
 spanning-tree link-type point-to-point

# Set ports types to hybrid and set VLANs. We want a star topology for
# VLAN 1 to try and prevent multicast storms on the management VLAN
interface GigabitEthernet 1/1-4
 switchport hybrid allowed vlan 1,10
 switchport mode hybrid

# The ordering of the ACE is important. As they are added, they get appended to the list
# and are executed in that order. So you need to make sure the DENY ALL is the LAST thing, otherwise
# you will lose your connection to the switch midway through. The numbers themselves are merely
# labels and do not imply anything about order

# Time sync packets sourced from node 1
# From my own node, send to all others
access-list ace 1 ingress interface GigabitEthernet 1/1 tag tagged vid 10 frame-type etype smac 6c-6e-07-24-8c-8f action deny redirect interface GigabitEthernet 1/2-4

# Time sync packets sourced from node 2
# Directly from switch 2, send to all others
# Via other switch, send to my own node only
access-list ace 2 ingress interface GigabitEthernet 1/2 tag tagged vid 10 frame-type etype smac a0-ce-c8-7f-c3-36 action deny redirect interface GigabitEthernet 1/1,3,4
access-list ace 3 ingress interface GigabitEthernet 1/3 tag tagged vid 10 frame-type etype smac a0-ce-c8-7f-c3-36 action deny redirect interface GigabitEthernet 1/1
access-list ace 4 ingress interface GigabitEthernet 1/4 tag tagged vid 10 frame-type etype smac a0-ce-c8-7f-c3-36 action deny redirect interface GigabitEthernet 1/1

# Time sync packets sourced from node 3
# Directly from switch 3, send to all others
# Via other switch, send to my own node only
access-list ace 5 ingress interface GigabitEthernet 1/2 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-03 action deny redirect interface GigabitEthernet 1/1
access-list ace 6 ingress interface GigabitEthernet 1/3 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-03 action deny redirect interface GigabitEthernet 1/1,2,4
access-list ace 7 ingress interface GigabitEthernet 1/4 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-03 action deny redirect interface GigabitEthernet 1/1

# Time sync packets sourced from node 4
# Directly from switch 4, send to all others
# Via other switch, send to my own node only
access-list ace 8 ingress interface GigabitEthernet 1/2 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-04 action deny redirect interface GigabitEthernet 1/1
access-list ace 9 ingress interface GigabitEthernet 1/3 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-04 action deny redirect interface GigabitEthernet 1/1
access-list ace 10 ingress interface GigabitEthernet 1/4 tag tagged vid 10 frame-type etype smac 00-00-00-00-00-04 action deny redirect interface GigabitEthernet 1/1-3

# Only allow ARP requests from my own node
access-list ace 11 ingress interface GigabitEthernet 1/1 frame-type arp action permit

# Allow management web interface traffic
access-list ace 12 frame-type ipv4-tcp dport 80 action permit

# Fallback to deny all
access-list ace 13 action deny

